<ion-view view-title="AJTodos">
  <ion-content>
    <ion-list>
      <ion-input class="item item-input">
        <span class="input-label">Username:</span>
        <input type="text" ng-model="userName" placeholder="Username">
      </ion-input>
      <ion-input class="item item-input">
        <span class="input-label">Password:</span>
        <input type="password" ng-model="password" placeholder="password">
      </ion-input>
      <button class="button button-block button-clear" ng-click="login(userName,password)">
        <span class="royal">Login</span>
      </button>
    </ion-list>
  </ion-content>
</ion-view>
